/* Created by THE YOUNG PROGRAMMER aka NEMONET */

:root {
   --primary-color: #ebf2ac;
   --secondary-color: #512B58;
}
* {
   margin: 0;
   padding: 0;
   color: var(--secondary-color);
   box-sizing: border-box;
   font-family: "Times New Roman";
}

#container {
   min-height: 100vh;
   width: 100vw;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: var(--primary-color);
   overflow: hidden;
   padding-bottom: 100px;
}

#header {
   width: 100vw;
   padding: 41px 7px;
   text-align: center;
   font-size: 43px;
   font-weight: bolder;
}
small {
   font-size: 21px;
}
a {
    text-decoration: none;
    color: lightblue;
}
#data {
   width: 80vw;
   max-width: 450px;
   padding: 21px;
   margin-bottom: 30px;
   display: none;
}
#playero {
   margin-left: auto;
}
div[nplayer] {
  opacity: 50%;
}

#board {
   background-color: var(--secondary-color);
   width: 80vw;
   max-width: 450px;
   max-height: 450px;
   height: 80vw;
   display: grid;
   overflow: hidden;
   grid-gap: 3%;
   grid-template-rows: repeat(3,1fr);
   grid-template-columns: repeat(3,1fr);
}
.box {
   background-color: var(--primary-color);
   display: flex;
   justify-content: center;
   align-items: center;
   background-repeat: no-repeat;
   background-size: cover;
   border: 3vw solid var(--primary-color);
}
div[x]{
  background-image: url('https://i.imgur.com/eCjmmKK.png');
}
div[o] {
   background-image: url('https://i.imgur.com/KXT3HQy.png');
}
.box[out]:after {
   content: '';
   height: 100%;
   width: 100%;
   opacity: 50%;
   background: var(--primary-color);
}

#playbox {
   position: absolute;
   background-color: var(--primary-color);
   width: 80vw;
   max-width: 450px;
   max-height: 450px;
   height: 80vw;
   display: flex;
   justify-content: center;
   align-items: center;
}
#playbtn {
  font-size: 21px;
  text-transform: uppercase;
  padding: 14px 42px;
  background-color: red;
  text-align: center;
  border-radius: 15px;
  letter-spacing: 2px;
  transition: 0.2s;
  text-shadow: 0 0 21px #000;
  box-shadow: 0 0 10px #000 ,
              inset 0 0 10px #000;
  border: 5px solid var(--primary-color);
  color: var(--primary-color);
  background-color: var(--secondary-color);
}
#playbtn:active {
  border: 5px solid var(--secondary-color);
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

#rights {
   margin-top: 30px;
   align-self: flex-end;
   padding: 0 21px;
}
